{% extends './layout.html' %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
            
            <a class="navbar-brand" href="#">E-Buy</a>
            <div class="d-flex flex-row justify-content-between w-50">
                <!-- Search bar -->
                <div>
                    <form class="form-inline d-flex flex-row">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                <!-- Account icon -->
                <div>
                    <a class='' href='#'><i class="fa-solid fa-user fa-lg"></i></a>
                </div>
                
                <!-- Cart icon -->
                <div>
                    <a class='' href='#'><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                </div>
            </div>
        </nav>

    </header>
{% endblock %}